*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   width: 100vw;
   min-height: 100vh;
   background: linear-gradient(to top,rgba(102, 51, 153, 0.773),rgb(226, 12, 119));
   display: flex;
   justify-content: center;
   padding: 1rem .8rem;
   .container{
      width: 92%;
      height: 100vh;
      background-color: rgb(255, 0, 191);
      .main{
         background-color: antiquewhite;
         width: 100%;
         height: 100%;
         border-radius: 3px;
         display: flex;
         
         .main-right{
            background-color: violet;
            width: 100%;
            // padding: 1rem;
            .topMain{
               width: 70%;
               height: 30%;
               background-color: red;
               margin: 0 auto;
               padding: 1rem;
            }
            .bottomMain{
               background-color: rgb(219, 75, 27);
               height: 70%;
               padding: 1rem;
               display: grid;
               gap: 1rem;
               grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
               // grid-template-rows: repeat(auto-fit, minmax(18rem, 1fr));
               .video-card{
                  height: 100%;
                  background-color: rgb(165, 9, 139);
                  .video{
                     background-color: black;
                     width: 100%;
                     height: 90%;
                  }
               }
            }
         }
      }
   }
}